body {
    background-color: #000014;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    color: #c2c5ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 217, 0, 0.61);
    font-family: 'Croissant One', cursive;
}

h1 {
    font-size: 5vw;
}

.budget {
    font-family: Arial, sans-serif;
    color: #bfd0ff;
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: #00006e;
    padding: 10px 5px 10px 5px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #1b37b4;

}

#budgetChart {
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 50px;
}


#financeSpan {
    color: #017562;
}


#addExpenseBtn:hover {
    background-color: #04AA6D;
    color: white;
}

#addExpenseDiv {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

#expenseTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th {
    background-color: #04AA6D;
    color: white;
    text-align: left;
}

#expenseTable td,
#expenseTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#expenseTable tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}


#messageDiv {
    background-color: #f2f2f2;
    padding: 10px;
}

#expenseDiv1 {
    margin: auto;
    width: 80%;
}

#financeRes {
    margin: auto;
    width: 80%;
    color: black;

}

#delete {
    background-color: #6666f5;
    color: white;
    border: 1px solid #8484ff;
    border-radius: 50%;
    padding: 3px 6px;
}

#delete:hover {
    background-color: #ccc;

}

#expenseH5 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(105, 104, 104);
    background-blend-mode: difference;
}

#expenseText:focus {
    border: 1px solid rgb(255, 217, 0);
}

#expenseAmount:focus {
    border: 1px solid #ff9100;
}

#warning {
    text-align: center;
    color: red;
    font-weight: 500;
}



#financeTotal {
    margin: auto;
    text-align: center;
    padding: 7px;
    font-weight: 600;
}

.activeTotal {
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #3551f185;
    border-radius: 2px;

}

/* Style the scrollbar track when hovering over it */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dashboard {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.income {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
}

#total-income {
    font-size: large;
    font-weight: 600;
    margin: 10px;
}

button {
    cursor: pointer;
}

.dashboard button,
#clear button,
#addExpenseBtn {
    padding: 10px;
    background-color: #3232fa;
    border: 1px solid #3232fa;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

#addExpenseBtn {
    width: fit-content;
    cursor: pointer;
}

hr {
    width: 100%;
    height: 3px;
    background-color: #010541;
    border: none;
    margin-top: 5px;
}

#clear {
    text-align: center;
    padding: 10px;
    display: none;
}

.settings-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #04041fb7;
    display: none;
}

#settings {
    width: 90%;
    background-color: #000014;
    border-radius: 10px;
    border: 1px solid #0f1047;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

#settings select {
    background-color: #0b87fc;
    width: fit-content;
    border: 1px solid #0b87fc;
    padding: 3px 5px;
}

#close-setting {
    float: right;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#close-setting:hover {
    background-color: #04AA6D;
}

.auto-fields {
    display: flex;
    align-items:center;
    justify-content: center;
}

#auto-save {
    font-weight: bold;
    margin-left: 5px;
}

/* Styles for sliding toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End Styles for sliding toggle switch */

@media only screen and (min-width: 1024px) {
    .budget {
        width: 50%;
    }

    h1 {
        font-size: 30px;
    }

    #budgetChart {
        max-width: 300px;
        max-height: 300px;
    }

    .dashboard {
        flex-direction: row;
    }

    #settings {
        width: 50%;
        margin-top: 100px;
    }
}